body{
    color:grey;
    font-family:'Courier New' ,Courier, monospace;
    background-color:white;
}

.Todo-Item :hover .trash-icon{
    display:block;

}
.oc{
    background-color:grey;
    margin-left:8px;
    padding-right: 4px;
    padding-left:4px;
   
}